@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  padding: 0px;
  margin: 0px;
  animation: spin 5s linear infinite;
}
.Hero{
    width: 100%;
    height: 100vh;
    flex-direction: column;
    display: flex;
    
    position: relative;
   
    
}
.video{
    width: 100%;
    height: 100vh;
   
     top:0;
    z-index: -1;
}

/* Styles for screens with a minimum width of 768px */
@media (max-width: 768px) {
  .about {
    display: flex;
    flex-direction: column;
    gap:10px;
  }
  .a{
    width: 600px;
    height: 450px;
  }
}

@keyframes spin{
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}

}