@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  padding: 0px;
  margin: 0px;
}
.Hero{
    width: 100%;
    height: 100vh;
    flex-direction: column;
    display: flex;
    
    position: relative;
   
    
}
.video{
    width: 100%;
    height: 100vh;
   
     top:0;
    z-index: -1;
}